<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body><div class="container">
<%= render '/layouts/header' %>

<div class="container">
 <p>Static Countries list hardcoded
    <%= link_to 'All', destinations_path   %> |
    <%= link_to 'United States',controller: "destinations", :country => 'United States' %> |
    <%= link_to 'Canada',controller: "destinations", :country => 'Canada' %></p>



 <p>Dynamic Countries list from database
<% @countries.each do |country| %>
<% url_safe_country = country %>
<%= link_to country, :controller => "destinations", :country => url_safe_country %> |
<% end %></p>




</div>
<%= yield %>

</div></div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</body>
</html>
